/****************INDEX*****************/

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/images/banner.jpg");
  background-size: cover;
  height: 667px;
}

#logo {
  margin: 0;
  padding: 70px 70px 160px;
}

#catchphrase {
  color: #ffd15b;
  text-align: center;
  font-size: 44px;
  font-family: "Anton", sans-serif;
  max-width: 890px;
  margin: 0 auto 30px;
}

#search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 25px auto 0;
  width: 954px;
  height: 72px;
  border-radius: 11px;
  background: #fff;
  padding: 0 10px 0 30px;
}

#search-form input {
  width: 90%;
  height: 95%;
  background: transparent;
  border: none;
  font-size: 16px;
}

#search-form input ::placeholder {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
}

#search-form input:focus {
  outline: none;
}

#search-btn {
  background-color: black;
  width: 51px;
  height: 52px;
  border-radius: 10px;
  appearance: none;
  border: none;
  box-shadow: none;
}

#search-btn:focus,
#search-btn:hover {
  background-color: #ffd15b;
}

#search-btn:focus #search-icon line,
#search-btn:hover #search-icon line,
#search-btn:focus #search-icon circle,
#search-btn:hover #search-icon circle {
  stroke: black;
}
